/*
* @Author: ybjam
* @Date:   2016-05-21 20:02:11
* @Last Modified by:   ybjam
* @Last Modified time: 2016-05-21 20:02:11
*/
div
{
    display: inline-block;

    width: 100px;
    height: 100px;
    margin-left: 5px;

    border: 2px solid black;
    border-radius: 100%;
}
.friend
{
    border: 2px dashed #008000;
}
.family
{
    border: 2px dashed #00f;
}
.enemy
{
    border: 2px dashed #f00;
}
#best_friend
{
    border: 4px solid #00c957;
}
#archnemesis
{
    border: 4px solid #c00;
}